.nav__wrapper {
    padding: 20px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}
.nav_name {
    width: 10%;
    display: flex;
    padding-left: 10px;
}
.nav_date {
    width: 10%;
    display: flex;
    padding-left: 10px;
}
.nav_info {
    width: 70%;
    display: flex;
    padding-left: 10px;
}
.nav_img {
    width: 100px;
}
.nav__change_date_range_button {
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 100px;
    transform: rotate(90deg);
    width: auto;
    &:hover {
        background: rgb(235, 231, 231);
    }
    &.reverse {
        transform: rotate(-90deg);
    }
}
